{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Welcome to FantaCC 2024</h2>
        <p>Un programma <del>di Antonio ricci</del> dei meme-officers di CCIT</p>
        <!-- Add more content as needed -->
        <h4>Poche e semplici regole</h4>
        <ul>
            <li>Si scelgono 5 università, e tra queste 1 capitano che guadagna/perde il doppio dei punti.</li>
            <li>Non è possibile scegliere la propria università.</li>
            <li>Possono giocare tutti ma il vincitore può essere solo uno dei partecipanti che sarà a torino il 5 sera.</li>
            <li>La lista dei bonus/malus è come le scale di Hogwarts.</li>
            <li>Chi vincerà avrà l'onore di essere riconosciuto con il titolo di <b>GABIBBO SUPREMO</b>.</li>
        </ul>
    </div>
</div>

{% endblock %}
