{% extends 'base.html' %}

{% block title %}Venues{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 class="mb-4">Venues</h2>
        {% for venue in venues_data %}
        <div class="card mb-4">
            <div class="card-header">
                <h4>{{ venue.sede.full_name_sede }}</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bonus in venue.bonuses %}
                        <tr>
                            <td>{{ bonus.description }}</td>
                            <td>{{ bonus.value_bonus|color_class }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
